APP_PORT=8003
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=link

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=123456

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=*
CORS_ALLOW_CREDENTIALS=true

PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
GRAFANA_PORT=3000
REDIS_EXPORTER_PORT=9121
REDIS_EXPORTER_ADDR=redis://shortlink-redis:6379
LOKI_PORT=3100
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123456

NACOS_PORT=8848
NACOS_RPC_PORT=9848
NACOS_RAFT_PORT=9849
NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_GROUP=SHORTLINK_GROUP
NACOS_NAMESPACE=shortlink-dev
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_AUTH_TOKEN=VGhpc0lzQVNlY3VyZVNob3J0TGlua05hY29zVG9rZW5LZXlGb3JUZXN0

TEST_REPORT_PORT=8099
OA_PORT=18080
OA_BACKEND_PORT=18081
OA_JAVA_PORT=18082
